:root {
    --background_color: rgb(255,238,17);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background_color); 
}

@keyframes bganim {
    0% { background-position: 0% }
    100%{ background-position: 101% }
}
body {
    animation: bganim 15s linear infinite;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
    list-style: none;
    padding: 0.5vmin;
}

a {
    padding: 0.5vmin;
    text-decoration: none;
    color: black;
}


#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 0.4rem solid black;
    border-radius: 2vmin;
    width: calc(90vw - 10vmin);
    height: calc(90vh - 10vmin);

    font-family: "Comfortaa", "Helvetica";
    transition-duration: 0.2s;
}

.box h1 {
    font-size: 7.5vmin;
    padding-inline: 50px;
    text-align: center;
    border-bottom: 2px dashed var(--background_color);
}

.box p {
    margin-top: 0;
    padding-inline: 50px;
    text-align: center;

    font-size: 2.5vmin;
}

.box img{
    width: 40vmin; 
    border-radius: 20px;
}

.box .small {
    background-color: #f5f5f577;
    border-radius: 20px;
}

.box .small p {
    font-size: 2.3vmin;
    margin: 10px;
}

#social_bar {
    font-size: 3vmin;
    width: fit-content;
    margin: 1vmin;
    padding: 1vmin;
    padding-inline: 2vmin;
    border: 0.3vmin solid black;
    border-radius: 2vmin;
    box-shadow: 1px 1px black;
}
