@use "../../styles/variables.scss" as sVar;

.appListing {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        .cardHeaderIconHolder {
            display: flex;
            gap: 8px;
            flex-shrink: 0;

            .cardHeaderIcon {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
    .cardStats {
        display: flex;
        gap: 8px;
        margin-top: 2px;
        .cardStat {
            background-color: sVar.$primary-color-accent;

            padding: 4px 8px;
            border-radius: 16px;

            display: flex;
            gap: 4px;
            align-items: center;

            font-weight: 600;
            border: 2px solid black;

            .cardStatIcon {
                width: 14px;
                height: 14px;
            }
        }
    }
    .card {
        min-width: 250px;
        max-width: 400px;
        min-height: 120px;
        padding: 24px;
        border-radius: 32px;
        background-color: sVar.$secondary-color;
        color: black;
        flex:1;
        border: 12px solid black;
        h1::before {
            content: "> ";
            font-size: 24px;
            color: sVar.$primary-color;
            filter: grayscale(1);
        }
        .cardDescription {
            margin-top: 12px;
        }
    }
}
